<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>O A M S</title>
        <link rel="stylesheet" href="../static/css/nav1.css">
        <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">
    </head>
    <body>
        <p class="hhhh">
            <b>Online Auction Management System</b>
            <span>
                <img src="https://img.freepik.com/free-vector/auction-house-conceptual-background_1284-29710.jpg?w=1380&t=st=1683810951~exp=1683811551~hmac=409b50233be04e6a7675803686607ec05b9ccf4fde0183c92ad435fe391e3ddf" alt="logo" style="width:15%; height:15%;">
            </span>
             
            &mdash; don't miss just bid &mdash;
          </p>
        <div class="khali">    
        <div class="wrapper">
            <div class="ffuk">
                <ul>
                    <li><a href="http://127.0.0.1:8000/home">Home</a></li>
                    <li><a href="http://127.0.0.1:8000/homepage">Main Page</a></li>
                     <li><a href="Contactus.html">Contact Us</a></li>
                   <li><a href="aboutus.html">About Us</a></li> 
                   <li><a href="logout">Logout</a></li>
                    <!-- <li><a href="#"></a></li> -->
                </ul>
            </div>
        </div>
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
            <h3 style="color:blue"><b>About us: </b></h3>

            <justify>
              <h4>   Our platform is designed to revolutionize the way you manage and 
                 participate in auctions, providing a seamless and efficient experience
                 for both auctioneers and bidders.</h4>
            
            Say goodbye to manual paperwork and complicated 
            spreadsheets. Our system automates and simplifies every step of 
            auction process. From inventory tracking and bidder registration to payment
            processing and post-auction reporting, our intuitive interface allows you 
            to effortlessly organize, monitor, and control your auctions with just a
            few clicks. Spend less time on administrative tasks and more time focusing 
            on delivering exceptional auction experiences.
            
            Advanced Inventory Control: With our Online Auction Management System,
            you can take complete control of your inventory. Create detailed
            catalogs with item descriptions, high-quality images, and categories
            for easy navigation. 
            
            Powerful Bidder Management: Engaging bidders is crucial to the success
            of any auction, and our platform provides robust tools for bidder
            management. Our system offers a seamless registration process,
            allowing bidders to easily sign up, browse auctions, and place bids.
            
            
            Flexible Auction Formats: We understand that different auctions
            require different formats, and our system offers the flexibility to
            accommodate a wide range of auction types. Whether you're hosting a
            traditional English auction, a Dutch auction, or a timed online
            auction, our platform allows you to configure auction rules and
            parameters to suit your specific needs. 
        </justify>
              </div>
    </body>
</html>
