<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>O A M S</title>
    
        <link rel="stylesheet" href="../static/css/nav.css">
        <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">
    </head>
    <body>
        <p class="hhhh">
           Online Auction Management System
            <span>
                <img src="https://img.freepik.com/free-vector/auction-house-conceptual-background_1284-29710.jpg?w=1380&t=st=1683810951~exp=1683811551~hmac=409b50233be04e6a7675803686607ec05b9ccf4fde0183c92ad435fe391e3ddf" alt="logo" style="width:15%; height:15%;">
            </span>
           
           
          </p>
        <div class="khali">    
        <div class="wrapper">
            <div class="ffuk">
                <ul>
                    
                    <li><a href="http://127.0.0.1:8000/homepage">Main Page</a></li>
                    <li><a href="base7">Auctions</a></li>
                    <li><a href="myprofile">My Profile</a></li>
                     <li><a href="Contactus.html">Contact us</a></li>
                     <li><a href="aboutus">About Us</a></li> 
                     <li><a href="logout">Logout</a></li>
                    <!-- <li><a href="aboutus">About us</a></li> -->
                    <!-- <li><a href="#"></a></li> -->
                </ul>
            </div>
        </div>
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
