<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>O A M S</title>
        <link rel="stylesheet" href="../static/css/nav1.css">
        <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">
    </head>
    <body>
        <p class="hhhh">
            Online Auction Management System
            <span>
                <img src="https://img.freepik.com/free-vector/auction-house-conceptual-background_1284-29710.jpg?w=1380&t=st=1683810951~exp=1683811551~hmac=409b50233be04e6a7675803686607ec05b9ccf4fde0183c92ad435fe391e3ddf" alt="logo" style="width:15%; height:15%;">
            </span>
             
            &mdash; don't miss just bid &mdash;
          </p>
        <div class="khali">    
        <div class="wrapper">
            <div class="ffuk">
                <ul>
                    <li><a href="http://127.0.0.1:8000/home">Home</a></li>
                    <li><a href="http://127.0.0.1:8000/homepage">Main Page</a></li>
                     <li><a href="Contactus.html">Contact Us</a></li>
                   <li><a href="aboutus.html">About Us</a></li> 
                   <li><a href="logout">Logout</a></li>
                    <!-- <li><a href="#"></a></li> -->
                </ul>
            </div>
        </div>
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}

            <h3 style="color:blue"><b>Contact Us</b></h3>
            <justify>
               We value your feedback and are here to assist you. If you have any
                questions, concerns, or suggestions regarding our Online Auction
                Management System, please don't hesitate to reach out to us. Our
                dedicated support team is ready to provide you with the assistance you
                need.
                


                <h5><b style="color:blue">Customer Support:</b></h5>

                For any technical issues or inquiries, our customer support team is
                available to help you. You can reach us by email at support@auctionsystem.com or 
                by phone at +1-555-123-4567. Our support
                hours are Monday to Friday, 9:00 am to 6:00 pm (EST). We strive to
                respond to all inquiries within 24 hours and ensure prompt resolution
                to any issues you may encounter.
                
                
                <h5><b style="color:blue">Feedback and Suggestions:</b></h5>

                Your input is invaluable to us as we continually strive to improve our
                services. If you have any feedback or suggestions for enhancing our
                Online Auction Management System, we would love to hear from you.
                Please send your thoughts to feedback@auctionsystem.com. We appreciate
                your insights and take them into careful consideration as we evolve
                and enhance our platform.
                

                Thank you for choosing our Online Auction Management System. We are
                committed to delivering exceptional service and support to ensure your
                auction experience is a success. Contact us today, and let us help you
                make the most of your auctions!
            </justify>
        </div>
    </body>
</html>
